<div class="page-header">
  <h1>Editing Menu #<%= @menu.id %></h1>
</div>

<%= form_tag(menu_url(@menu), method: 'patch', class: 'form-horizontal', multipart: true) do %>
  <div class="form-group">
    <%= label_tag :availability, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :availability, @menu.availability, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_name, @menu.item_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_category, @menu.item_category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_picture, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= file_field_tag :item_picture,  class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_price, @menu.item_price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_description, @menu.item_description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Menu", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
