<div class="page-header">
  <h1>Ordersummary #<%= @ordersummary.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Orderdate</dt>
  <dd><%= @ordersummary.orderdate %></dd>

  <dt>Billamount</dt>
  <dd><%= @ordersummary.billamount %></dd>

  <dt>Orderstatus</dt>
  <dd><%= @ordersummary.orderstatus %></dd>

  <dt>User</dt>
  <dd><%= @ordersummary.user_id %></dd>

</dl>
