<div class="page-header">
  <h1>Editing Order #<%= @order.id %></h1>
</div>

<%= form_tag(order_url(@order), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :item_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :item_id, @order.item_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :userid, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :userid, @order.userid, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :ordersummaryid, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :ordersummaryid, @order.ordersummaryid, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_name, @order.item_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_picture, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_picture, @order.item_picture, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_category, @order.item_category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :item_quantity, @order.item_quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_price, @order.item_price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Order", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
