<div class="page-header">
  <h1>Order #<%= @order.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Item</dt>
  <dd><%= @order.item_id %></dd>

  <dt>Userid</dt>
  <dd><%= @order.userid %></dd>

  <dt>Ordersummaryid</dt>
  <dd><%= @order.ordersummaryid %></dd>

  <dt>Item name</dt>
  <dd><%= @order.item_name %></dd>

  <dt>Item picture</dt>
  <dd><%= @order.item_picture %></dd>

  <dt>Item category</dt>
  <dd><%= @order.item_category %></dd>

  <dt>Item quantity</dt>
  <dd><%= @order.item_quantity %></dd>

  <dt>Item price</dt>
  <dd><%= @order.item_price %></dd>

</dl>
